fastapi==0.95.1
uvicorn==0.22.0
sqlalchemy==1.4.48
psycopg2-binary==2.9.6
redis==4.5.5
ujson==5.7.0
orjson==3.8.12
asyncpg==0.27.0
aiocache==0.12.1
python-multipart==0.0.6
aiofiles==23.1.0
structlog==23.1.0
pydantic==1.10.8
python-dotenv==1.0.0
httpx==0.24.1
tenacity==8.2.2
aioredis==2.0.1
uvloop==0.17.0; sys_platform != 'win32'
msgpack==1.0.5
python-json-logger==2.0.7
prometheus-client==0.17.0
starlette-exporter==0.16.0
databases==0.9.0
brotli==1.0.9 